<header class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to image_tag("Chesshall.png", alt: "Chesshall"), root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-center">
					<li><%= link_to "Игровой зал", '#' %></li>
					<li><%= link_to "Турнирный зал", '#' %></li>
					<li><%= link_to "Учебный зал", '#' %></li>
					<li><%= link_to "Читальный зал", '#' %></li>
				</ul>
				<ul class="nav pull-right">
					<% if signed_in? %>
			            <!-- <li><%= link_to "Users", '#' %></li> -->
			            	<div class="btn-group">
							  <%= link_to current_user.name, current_user, class: "btn" %>
							  <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
							    <ul class="dropdown-menu pull-right">
					                <li><%= link_to "Мои сообщества", '#' %></li>
					                <li><%= link_to "Мои турниры", '#' %></li>
					                <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
					                <li class="divider"></li>
					                <li>
					                  <%= link_to "Выйти", signout_path, method: "delete" %>
					                </li>
				              </ul>
							</div>		            
			          <% else %>
							<li><%= link_to "Войти", signin_path %></li>
			          <% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>